map $host $site_name {
    default default;
    ~*^(.+)\.${NGINX_HOST}$ $1;
}

server {
    listen ${NGINX_PORT};
    server_name .${NGINX_HOST};
    root /nginx/sites/$site_name;
}

server {
    listen ${NGINX_PORT} default_server;
    server_name _;
    return 404 "Not Found";
}
